/*********
COMMENT
*******/

.comment {
	padding: 70px 0;
}

.comment__title {
	margin-bottom: 70px;
}

#comment__slider {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

.comment__item {
	margin-top: 10px;
	width: 400px;
	text-align: center;
	transition: 0.3s;
}

.comment__icon {
	margin: 0 auto;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: url(../img/gbflag.png) no-repeat;
	background-position: center;
	background-size: 200%;
	transition: 0.3s;
	opacity: 0.5;
}

.comment__username {
	font-weight: 400;
	font-size: 14px;
	transition: 0.3s;
	opacity: 0.5;
}

.comment__icon, .comment__username {
	margin-bottom: 15px;
}

.comment__text {
	font-size: 10px;
	max-width: 300px;
	margin: 0 auto;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.2;
	transition: 0.3s;
	opacity: 0.5;
}

.owl-nav {
	display: flex;
	width: 130px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 50px;
}

.owl-prev, .owl-next {
	transition: 0.2s;
}

.owl-prev:hover, .owl-next:hover {
	transform: scale(1.2);
}


.center .comment__icon {
	opacity: 1;
	width: 150px;
	height: 150px;
}

.center .comment__username {
	opacity: 1;
	font-size: 18px;
}

.center .comment__text {
	opacity: 1;
	font-size: 14px;
	max-width: 400px;
}