/************
SPECIFICATION
***********/
body {
  font-family: 'Roboto', sans-serif; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button {
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
  color: #fff;
  box-sizing: border-box; }

button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

.button_red {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.3s; }

.button_red:hover {
  background: none;
  background: #B01F24;
  border: 2px solid #B01F24; }

h3, h2 {
  font-weight: 700; }

h3 {
  font-size: 24px; }

h2 {
  font-size: 30px; }

input {
  color: #909090;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  outline: none;
  background: #f8f8f8; }

/*************
HEADER
************/
.header {
  background: url(../img/bg.png) no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center top; }

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(1, 108, 100, 0.95);
  padding: 10px 110px; }

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px; }

.header__menu-item {
  box-sizing: border-box;
  padding: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s; }
  .header__menu-item a {
    color: #fff; }

.header__menu-item:hover {
  border-bottom: 2px solid #EC9F9F; }
  .header__menu-item:hover a {
    color: #EC9F9F; }

.header__button_menu {
  padding: 15px 10px;
  width: 170px; }

.header__logo {
  background: url(../img/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 10px;
  height: 280px;
  width: 480px; }

/*form*/
.header__panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto; }

.header__contacts {
  background: rgba(1, 108, 100, 0.95);
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px; }

.header__velcom, .header__mts {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center; }

.header__num {
  font-size: 24px;
  font-weight: 300;
  color: #fff; }

.header__form {
  background: #014540;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.header__form-title {
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase; }

.header__button_form {
  padding: 10px;
  max-width: 200px; }

.header__input {
  max-width: 250px; }

.header__input_name {
  margin-bottom: 5px; }

.header__input_mail {
  margin-bottom: 15px; }

/*RESPONSIVE*/
@media screen and (max-width: 1300px) {
  .header__nav {
    padding: 10px 30px; }

  .header__menu-item {
    font-size: 20px; } }
@media screen and (max-width: 1250px) {
  .header__nav {
    flex-direction: column; }

  .header__menu {
    margin-bottom: 15px; } }
@media screen and (max-width: 1250px) {
  .header__menu {
    width: 800px; } }
@media screen and (max-width: 810px) {
  .header__nav {
    padding: 50px; }

  .header__menu {
    flex-wrap: wrap;
    width: none;
    max-width: 500px; } }
@media screen and (max-width: 770px) {
  .header__panel {
    max-width: 500px; }

  .header__form-title {
    font-size: 18px; } }
@media screen and (max-width: 570px) {
  .header__logo {
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 0; }

  .header {
    background-position: 30% top; }

  .header__menu {
    width: 300px; }

  .header__panel {
    max-width: 350px; } }
@media screen and (max-width: 500px) {
  .header__logo {
    width: 380px;
    margin: 100px auto; } }
@media screen and (max-width: 400px) {
  .header__menu-item {
    font-size: 14px; }

  .header__logo {
    width: 230px;
    margin-bottom: 50px;
    height: 120px; }

  .header__button_menu {
    font-size: 12px;
    padding: 10px 5px; }

  .header__num {
    font-size: 18px; }

  .header__velcom, .header__mts {
    width: 190px; } }
/**************
SERVICES
************/
.services {
  background: #ECECEC;
  padding: 70px 110px; }

.services__title {
  color: #014540;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px; }

.services__features {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.services__item {
  padding: 30px 0;
  max-width: 310px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  transition: 0.3s; }

.services__item:hover {
  background: #014540;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px; }

.services__item-title {
  text-align: center;
  color: #3E3E3E;
  margin-bottom: 40px;
  transition: 0.3s; }

.services__item:hover .services__item-title {
  color: #fff; }

.services__list {
  margin-bottom: 60px; }

.services__item:hover .services__list {
  color: #ECECEC; }

.services__button {
  background: #014540;
  color: #ECECEC;
  padding: 10px 30px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0); }

.services__item:hover .services__button {
  border: 2px solid #fff;
  color: #fff; }

.services__item:hover .services__button:hover {
  border: 2px solid rgba(0, 0, 0, 0); }

.services__button:hover {
  background: #B01F24;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px; }

/*# sourceMappingURL=style.css.map */
